@import "tailwindcss";

@import "tailwindcss";

:root {
  --font-body: "Plus Jakarta Sans", sans-serif;
  --font-heading: "Space Grotesk", sans-serif;
}

body {
  font-family: var(--font-body);
}
.font-Space {
    font-family: var(--font-heading);
}

svg {
  width: 100%;
  height: auto;
  display: block;
}

@keyframes floating {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-8px);
  }
  100% {
    transform: translateY(0px);
  }
}

.animate-floating {
  animation: floating 4s ease-in-out infinite;
}

@keyframes sway {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  20% {
    transform: translate(-50%, -50%) rotate(-1.2deg);
  }
  50% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  80% {
    transform: translate(-50%, -50%) rotate(1.2deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
}

.animate-sway {
  animation: sway 5s cubic-bezier(0.45, 0, 0.55, 1) infinite;
  transform-origin: center;
}
