@import "tailwindcss";

@import "tailwindcss";

:root {
  --font-body: "Plus Jakarta Sans", sans-serif;
  --font-heading: "Space Grotesk", sans-serif;
}

body {
  font-family: var(--font-body);
}
.font-Space {
    font-family: var(--font-heading);
}

